In [198]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("garmin2.tcx")
xroot = xtree.getroot() 

df_cols = ["time","latitude","longitude","distanceinmeters","heartrate"]
rows = []

In [199]:
xroot[0][0][1][8][0][1].tag

'{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}Position'

In [200]:
ctr=0
for node in xroot[0][0][1][8].findall("{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}Trackpoint"):
    time = node[0].text
    lat = node[1][0].text
    long = node[1][1].text
    dist= node[3].text
    bpm = node[4][0].text

    rows.append({"time": time, "latitude": lat, 
                    "longitude": long, "distanceinmeters": dist,
                    "heartrate":bpm})

tracking_df = pd.DataFrame(rows, columns = df_cols)

In [201]:
tracking_df

,time,latitude,longitude,distanceinmeters,heartrate
0,2021-04-02T03:48:31.000Z,32.864078264683485,-117.23169255070388,0.0,68
1,2021-04-02T03:48:32.000Z,32.86432636901736,-117.23198440857232,0.0,68
2,2021-04-02T03:48:35.000Z,32.86428177729249,-117.23196730948985,2.2100000381469727,65
3,2021-04-02T03:48:42.000Z,32.86401732824743,-117.23203763365746,25.540000915527344,65
4,2021-04-02T03:48:45.000Z,32.86392076872289,-117.23209680989385,38.150001525878906,66
...,...,...,...,...,...
72,2021-04-02T03:51:45.000Z,32.85333341918886,-117.23378400318325,1524.2900390625,78
73,2021-04-02T03:51:51.000Z,32.85339502617717,-117.23355492576957,1547.010009765625,76
74,2021-04-02T03:51:54.000Z,32.853514552116394,-117.23342106677592,1565.3199462890625,74
75,2021-04-02T03:51:57.000Z,32.85368587821722,-117.23331260494888,1586.8599853515625,74
76,2021-04-02T03:52:01.000Z,32.8538718726486,-117.23318796604872,1610.510009765625,73

In [202]:
def time_splitter (row):
   datetime=row['time'].split("T")
   return datetime[1]

In [203]:
tracking_df["HHMMSS"]=tracking_df.apply (lambda row: time_splitter(row), axis=1)

In [204]:
tracking_df

,time,latitude,longitude,distanceinmeters,heartrate,HHMMSS
0,2021-04-02T03:48:31.000Z,32.864078264683485,-117.23169255070388,0.0,68,03:48:31.000Z
1,2021-04-02T03:48:32.000Z,32.86432636901736,-117.23198440857232,0.0,68,03:48:32.000Z
2,2021-04-02T03:48:35.000Z,32.86428177729249,-117.23196730948985,2.2100000381469727,65,03:48:35.000Z
3,2021-04-02T03:48:42.000Z,32.86401732824743,-117.23203763365746,25.540000915527344,65,03:48:42.000Z
4,2021-04-02T03:48:45.000Z,32.86392076872289,-117.23209680989385,38.150001525878906,66,03:48:45.000Z
...,...,...,...,...,...,...
72,2021-04-02T03:51:45.000Z,32.85333341918886,-117.23378400318325,1524.2900390625,78,03:51:45.000Z
73,2021-04-02T03:51:51.000Z,32.85339502617717,-117.23355492576957,1547.010009765625,76,03:51:51.000Z
74,2021-04-02T03:51:54.000Z,32.853514552116394,-117.23342106677592,1565.3199462890625,74,03:51:54.000Z
75,2021-04-02T03:51:57.000Z,32.85368587821722,-117.23331260494888,1586.8599853515625,74,03:51:57.000Z
76,2021-04-02T03:52:01.000Z,32.8538718726486,-117.23318796604872,1610.510009765625,73,03:52:01.000Z

In [205]:
tracking_df.distanceinmeters=tracking_df.distanceinmeters.astype(str).astype(float)

In [206]:
meterscol=[]
for i,j in enumerate(tracking_df.distanceinmeters):
    meters=0
    if i>0:
        lastmet=tracking_df.distanceinmeters[i-1]
        met =j
        meters=met-lastmet
    meterscol.append(meters)

In [207]:
tracking_df["meters"]=meterscol

In [208]:
secondscol=[]
for i,j in enumerate(tracking_df.HHMMSS):
    seconds=0
    if i>0:
        lastmins=int(tracking_df.HHMMSS[i-1][3:5])
        lastsecs=int(tracking_df.HHMMSS[i-1][6:8])
        mins=int(j[3:5])
        secs=int(j[6:8])
        if lastmins==mins:
            seconds=secs-lastsecs
        else:
            seconds = (60-lastsecs)+secs
    secondscol.append(seconds)

In [209]:
tracking_df["seconds"]=secondscol

In [210]:
def calculate_speed(row):
    if (row.seconds>0):
        meterspersecond=row.meters/row.seconds
        milesperhour=meterspersecond*2.237
        return milesperhour
    else: return 0

In [211]:
tracking_df["mph"]=tracking_df.apply (lambda row: calculate_speed(row), axis=1)

In [221]:
tracking_df["transportclass"]="Car"

In [222]:
tracking_df

,time,latitude,longitude,distanceinmeters,heartrate,HHMMSS,meters,seconds,mph,transportclass
0,2021-04-02T03:48:31.000Z,32.864078264683485,-117.23169255070388,0.000000,68,03:48:31.000Z,0.000000,0,0.000000,Car
1,2021-04-02T03:48:32.000Z,32.86432636901736,-117.23198440857232,0.000000,68,03:48:32.000Z,0.000000,1,0.000000,Car
2,2021-04-02T03:48:35.000Z,32.86428177729249,-117.23196730948985,2.210000,65,03:48:35.000Z,2.210000,3,1.647923,Car
3,2021-04-02T03:48:42.000Z,32.86401732824743,-117.23203763365746,25.540001,65,03:48:42.000Z,23.330001,7,7.455602,Car
4,2021-04-02T03:48:45.000Z,32.86392076872289,-117.23209680989385,38.150002,66,03:48:45.000Z,12.610001,3,9.402857,Car
...,...,...,...,...,...,...,...,...,...,...
72,2021-04-02T03:51:45.000Z,32.85333341918886,-117.23378400318325,1524.290039,78,03:51:45.000Z,11.030029,1,24.674176,Car
73,2021-04-02T03:51:51.000Z,32.85339502617717,-117.23355492576957,1547.010010,76,03:51:51.000Z,22.719971,6,8.470762,Car
74,2021-04-02T03:51:54.000Z,32.853514552116394,-117.23342106677592,1565.319946,74,03:51:54.000Z,18.309937,3,13.653109,Car
75,2021-04-02T03:51:57.000Z,32.85368587821722,-117.23331260494888,1586.859985,74,03:51:57.000Z,21.540039,3,16.061689,Car
76,2021-04-02T03:52:01.000Z,32.8538718726486,-117.23318796604872,1610.510010,73,03:52:01.000Z,23.650024,4,13.226276,Car

In [216]:
tracking_df.to_csv(r'garmindrivingdata.csv', index = False)